* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(assets/bg.png);
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    text-align: center;
    justify-content: center;
    background-color: rgb(29, 36, 49);
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(48, 59, 80);
}

.input_section > h2 {
    text-align: center;
    color: whitesmoke;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button:hover{
    opacity: 70%;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}



.input_section > form > .input > label {
    color: cornflowerblue;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: cornflowerblue;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(48, 59, 80);
}

.search_section > h2 {
    color: white;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
    color: cornflowerblue;
    font-weight: bold;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.content{
    display: flex;
    float: right;
   	width: 100%;
}

.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(48, 59, 80);
}

.left{
    margin-right: 10px;
}

.book_shelf > h2 {
    color: white;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
    background-color: white;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}   

.checkBtn{
    background: url('assets/check-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.checkBtn:hover {
    background: url('assets/check-solid.svg');
    background-size: contain;
}

.trashBtn{
    background: url('assets/trash-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trashBtn:hover {
    background: url('assets/trash-fill.svg');
    background-size: contain;
}

.undoBtn{
    background: url('assets/undo-ouline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undoBtn:hover {
    background: url('assets/undo-ouline.svg');
    background-size: contain;
    transform: rotate(-90deg);
}

.EditBtn{
    background: url('assets/edit.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.EditBtn:hover{
    background: url('assets/edit2.svg');
    background-size: contain;
}

.checkBtn:focus, .trashBtn {
    outline: none;
}
